* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Bai Jamjuree", "Raleway", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

header {
  height: 1000px;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  background-color: #1F1E38;
  background-image: url("../img/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 66% auto;
}

.header-top {
  display: flex;
  width: 80%;
  height: 50px;
  max-width: 1600px;
}
.header-top .logo {
  display: flex;
  justify-content: initial;
  align-items: flex-end;
}
.header-top .logo img {
  width: 110px;
  max-height: 100%;
}
.header-top .nav-bar {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.header-top .nav-bar ul {
  list-style: none;
}
.header-top .nav-bar ul li a {
  text-decoration: none;
}
.header-top .nav-bar ul {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: initial;
}
.header-top .nav-bar ul li {
  position: relative;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: initial;
  align-items: flex-end;
}
.header-top .nav-bar ul li a {
  color: #ffffffb0;
  font-size: 14px;
  text-transform: uppercase;
}
.header-top .nav-bar ul li a:hover {
  color: white;
}
.header-top .nav-bar ul li .active {
  color: white;
  font-weight: 700;
}
.header-top .nav-bar ul li .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 3px;
  background-color: white;
}

#jumbotron {
  width: 80%;
  max-width: 1600px;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#jumbotron p {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
  font-size: 17px;
  letter-spacing: 3px;
}
#jumbotron p::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
#jumbotron #title {
  max-width: 520px;
  line-height: 95px;
  margin-top: 20px;
  margin-bottom: 60px;
}
#jumbotron #title h1 {
  font-size: 102px;
}
#jumbotron .buttons {
  display: flex;
}
#jumbotron .buttons .green-btn {
  padding: 25px 55px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1F1E38;
  background-color: #39FFBF;
  margin-right: 40px;
  position: relative;
}
#jumbotron .buttons .green-btn:hover {
  background-color: #F81D39;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
#jumbotron .buttons #play-btn {
  align-self: flex-end;
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
#jumbotron .buttons #play-btn i {
  display: inline-block;
  color: #39FFBF;
  padding: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 1650px) {
  header {
    background-size: 66% 100%;
  }
}
.consulting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 50px 0;
  z-index: 3;
}
.consulting .consulting_title {
  display: flex;
  min-width: calc(544px * 2);
  justify-content: flex-start;
  margin: 60px 0;
  padding-left: 200px;
}
.consulting .consulting_title h3 {
  font-size: 1.7rem;
  position: relative;
  color: #1F1E38;
}
.consulting .consulting_title h3::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: calc(100% + 30px);
  transform: translateY(-50%);
  width: 2000px;
}
.consulting .div_80 {
  display: flex;
  justify-content: center;
  align-items: unset;
  padding-left: 200px;
}
.consulting .div_80 .div_50 {
  display: flex;
  padding: 30px 30px 30px 0;
}
.consulting .div_80 .div_50:first-child {
  margin-right: 200px;
}
.consulting .div_80 .div_50 div {
  height: 100%;
  padding: 10px 20px 20px 0;
  color: #1F1E38;
}
.consulting .div_80 .div_50 div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.consulting .div_80 .div_50 div p {
  font-family: "Montserrat", sans-serif;
  color: #888888;
}
.consulting .div_80 .div_50 .description {
  max-width: 400px;
  margin-left: 50px;
}
.consulting .div_80 .div_50 .consulting_img {
  background-color: #F81D39;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
}

.main-darkblue-back {
  background-color: #1F1E38;
  overflow: hidden;
  position: relative;
}
.main-darkblue-back .background-square1 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: -100px;
  right: -100px;
}
.main-darkblue-back .background-square2 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: 400px;
  right: -100px;
}
.main-darkblue-back .background-square3 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: 2400px;
  left: -120px;
  width: 1000px;
}
.main-darkblue-back .background-square4 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: 3400px;
  left: -1250px;
  width: 2000px;
}
.main-darkblue-back .about {
  color: white;
  background-image: url("../img/business-people-working-together-on-project-and-5FHSKBL.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 56% auto;
  padding: 60px 0;
  overflow: hidden;
}
.main-darkblue-back .about .about_description {
  margin-left: 56%;
  padding: 200px 100px;
  width: 700px;
  z-index: 1;
  position: relative;
}
.main-darkblue-back .about .about_description .background-square1 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: -300px;
  right: -400px;
}
.main-darkblue-back .about .about_description .background-square2 {
  background-color: #272642;
  width: 800px;
  height: 700px;
  position: absolute;
  border-radius: 90px;
  transform: rotate(-45deg);
  top: -100px;
  right: -400px;
}
.main-darkblue-back .about .about_description h6 {
  position: relative;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}
.main-darkblue-back .about .about_description h6::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
.main-darkblue-back .about .about_description h2 {
  position: relative;
  font-size: 3.7rem;
  margin-bottom: 30px;
}
.main-darkblue-back .about .about_description p {
  position: relative;
  color: #AAAAAA;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}
.main-darkblue-back .green_banner {
  height: 300px;
  position: relative;
  background-color: #39FFBF;
  width: calc(1600px + ((100% - 1600px) / 2));
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
}
.main-darkblue-back .green_banner div {
  max-width: 500px;
  padding: 50px;
  text-align: center;
  color: #1F1E38;
}
.main-darkblue-back .green_banner div h3 {
  font-size: 1.5rem;
  margin-right: 100px;
}
.main-darkblue-back .green_banner div p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}
.main-darkblue-back .green_banner button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #F81D39;
  padding: 25px 55px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main-darkblue-back .green_banner button:hover {
  background-color: #1F1E38;
  cursor: pointer;
  transition: 0.3s;
}
.main-darkblue-back .projects_container {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: unset;
}
.main-darkblue-back .projects_container .projects {
  flex-direction: column;
  width: 1600px;
  position: relative;
}
.main-darkblue-back .projects_container .projects .projects_title {
  margin-bottom: 50px;
  max-width: 900px;
  color: white;
}
.main-darkblue-back .projects_container .projects .projects_title h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}
.main-darkblue-back .projects_container .projects .projects_title h6::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
.main-darkblue-back .projects_container .projects .projects_title h2 {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: white;
}
.main-darkblue-back .projects_container .projects .projects_title .arrows {
  position: absolute;
  top: 70px;
  right: 10px;
}
.main-darkblue-back .projects_container .projects .projects_title .arrows button {
  padding: 15px;
  background-color: #ffffff1a;
  outline: none;
  border: none;
  cursor: pointer;
}
.main-darkblue-back .projects_container .projects .projects_title .arrows button i {
  color: white;
  font-size: 0.8rem;
}
.main-darkblue-back .projects_container .projects .projects_title .arrows button:hover {
  background-color: #39FFBF;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.main-darkblue-back .projects_container .projects .projects_presentation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: unset;
  overflow: hidden;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img {
  width: calc(100% / 3);
  height: 350px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img img {
  width: 100%;
  max-height: 100%;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img .overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background-color: rgba(220, 30, 58, 0.8);
  opacity: 0;
  padding: 20px;
  flex-basis: 0;
  transition: all 0.5s;
  overflow: hidden;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img .overlay div p {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img .overlay div span {
  color: #888888;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img .overlay button {
  padding: 15px 20px;
  background-color: #1F1E38;
  outline: none;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img .overlay button:hover {
  background-color: #39FFBF;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.main-darkblue-back .projects_container .projects .projects_presentation .projects_img:hover .overlay {
  opacity: 1;
}
.main-darkblue-back .testimonial {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.main-darkblue-back .testimonial .testimonial_title {
  width: 80%;
  max-width: 1600px;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-darkblue-back .testimonial .testimonial_title h6 {
  align-self: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}
.main-darkblue-back .testimonial .testimonial_title h6::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
.main-darkblue-back .testimonial .testimonial_title h6::before {
  display: none;
}
.main-darkblue-back .testimonial .testimonial_title h6::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
  position: absolute;
  top: 18px;
  right: 0;
}
.main-darkblue-back .testimonial .testimonial_title h2 {
  align-self: flex-end;
  text-transform: uppercase;
  font-size: 2.7rem;
  color: white;
  margin-bottom: 50px;
  max-width: 600px;
  text-align: end;
}
.main-darkblue-back .testimonial .white_banner {
  position: relative;
  width: calc(1600px + ((100% - 1600px) / 2));
  align-self: flex-end;
  background-color: white;
  height: 350px;
  display: flex;
}
.main-darkblue-back .testimonial .white_banner .banner_section {
  width: calc(1600px / 3);
  position: relative;
  padding: 50px 80px 80px;
  transition: background 0.3;
  background-position: center;
  background-size: cover;
}
.main-darkblue-back .testimonial .white_banner .banner_section p {
  margin-bottom: 30px;
  color: #888888;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
}
.main-darkblue-back .testimonial .white_banner .banner_section h6 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.main-darkblue-back .testimonial .white_banner .banner_section span {
  color: #888888;
}
.main-darkblue-back .testimonial .white_banner .banner_section:first-child:hover {
  background-image: url("../img/oliver-ragfelt-488196-2.jpg");
}
.main-darkblue-back .testimonial .white_banner .banner_section:first-child:hover h6 {
  color: white;
}
.main-darkblue-back .testimonial .white_banner .banner_section:nth-child(2):hover {
  background-image: url("../img/12679.jpg");
}
.main-darkblue-back .testimonial .white_banner .banner_section:nth-child(2):hover h6 {
  color: white;
}
.main-darkblue-back .testimonial .white_banner .banner_section:nth-child(3):hover {
  background-image: url("../img/oliver-ragfelt-488196-unsplash.jpg");
}
.main-darkblue-back .testimonial .white_banner .banner_section:nth-child(3):hover h6 {
  color: white;
}
.main-darkblue-back .blog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-darkblue-back .blog div {
  width: 1600px;
}
.main-darkblue-back .blog .blog_title {
  position: relative;
}
.main-darkblue-back .blog .blog_title h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white;
}
.main-darkblue-back .blog .blog_title h6::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
.main-darkblue-back .blog .blog_title h2 {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: white;
  margin-bottom: 50px;
}
.main-darkblue-back .blog .blog_title button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #39FFBF;
  padding: 25px 55px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1F1E38;
}
.main-darkblue-back .blog .blog_title button:hover {
  background-color: #F81D39;
  cursor: pointer;
  transition: 0.3s;
}
.main-darkblue-back .blog .blog_squares {
  display: flex;
}
.main-darkblue-back .blog .blog_squares figure {
  position: relative;
  width: calc(100% / 2);
  padding: 15px;
}
.main-darkblue-back .blog .blog_squares figure img {
  width: 100%;
}
.main-darkblue-back .blog .blog_squares figure figcaption {
  position: absolute;
  width: calc(100% / 4 * 3);
  height: 50%;
  background: white;
  bottom: 0;
  right: 15px;
  transform: translateY(30%);
  z-index: 1;
  padding: 0 80px;
  padding-top: 40px;
}
.main-darkblue-back .blog .blog_squares figure figcaption span {
  color: red;
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: red;
  font-family: "Montserrat", sans-serif;
}
.main-darkblue-back .blog .blog_squares figure figcaption span:first-child {
  margin-right: 30px;
}
.main-darkblue-back .blog .blog_squares figure figcaption h4 {
  font-size: 2rem;
  line-height: 35px;
  margin-top: 20px;
  letter-spacing: 0px;
}
.main-darkblue-back .blog .blog_squares figure figcaption p {
  color: #888888;
  margin-top: 30px;
  font-size: 1.1rem;
}
.main-darkblue-back .blog .blog_squares figure:hover figcaption {
  background-color: #39FFBF;
  transform: translateY(35%);
  transition: 0.4s ease-out;
}
.main-darkblue-back .get_started {
  position: relative;
  margin-top: 300px;
  width: 100%;
  padding: 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/business-people-working-together-on-project-and-B3MZ4TX.jpg");
  background-position: center;
  background-size: cover;
}
.main-darkblue-back .get_started h2 {
  text-transform: uppercase;
  font-size: 2.7rem;
  color: white;
  margin-bottom: 20px;
}
.main-darkblue-back .get_started p {
  color: #ffffffcc;
  font-size: 1.2rem;
  max-width: 450px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.main-darkblue-back .get_started button {
  padding: 20px 50px;
  outline: none;
  border: none;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1F1E38;
  color: white;
}
.main-darkblue-back .get_started button:hover {
  background-color: #39FFBF;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

footer {
  padding-top: 60px;
  background-color: #1F1E38;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section {
  width: 1600px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
}
footer section:first-child {
  border-bottom: 1px solid #ffffff26;
}
footer section:first-child div {
  width: calc(100% / 3);
}
footer section:first-child .footer_navbar ul {
  list-style: none;
}
footer section:first-child .footer_navbar ul li a {
  text-decoration: none;
}
footer section:first-child .footer_navbar ul {
  display: flex;
  justify-content: center;
}
footer section:first-child .footer_navbar ul li {
  padding: 15px;
}
footer section:first-child .footer_navbar ul li a {
  color: #888888;
}
footer section:first-child .footer_navbar ul li a:hover {
  color: #F81D39;
  cursor: pointer;
  transition: 0.5s;
}
footer section:first-child .social ul {
  list-style: none;
}
footer section:first-child .social ul li a {
  text-decoration: none;
}
footer section:first-child .social ul {
  display: flex;
  justify-content: flex-end;
}
footer section:first-child .social ul li {
  padding: 10px;
}
footer section:first-child .social ul li a {
  color: white;
}
footer section:first-child .social ul li a:hover {
  color: #F81D39;
  cursor: pointer;
}
footer section:last-child {
  padding-top: 35px;
  color: #888888;
}
footer section:last-child div {
  width: calc(100% / 2);
  font-family: "Montserrat", sans-serif;
  font: 0.7rem;
}
footer section:last-child .terms {
  display: flex;
  flex-direction: column;
}
footer section:last-child .copyright_logo {
  display: flex;
  justify-content: flex-end;
}

.chat {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 35px;
  right: 35px;
  z-index: 3;
}
.chat div {
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat div a {
  padding: 10px 15px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: white;
  border: 1px solid #1F1E38;
  outline: none;
}
.chat div a:hover {
  cursor: pointer;
}
.chat div a i {
  color: black;
}
.chat div:nth-child(2) i {
  color: white;
  background-color: #527CEB;
  padding: 20px;
  border-radius: 50%;
  font-size: 1.6rem;
  transform: scaleX(-1);
}
.chat div:nth-child(2):hover {
  cursor: pointer;
}
