header {
  height: 1000px;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  background-color: #1F1E38;
  background-image: url("../img/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 66% auto;
}

.header-top {
  display: flex;
  width: 90%;
  height: 50px;
  max-width: 1600px;
}
.header-top .logo {
  display: flex;
  justify-content: initial;
  align-items: flex-end;
}
.header-top .logo img {
  width: 110px;
  max-height: 100%;
}
.header-top .nav-bar {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.header-top .nav-bar ul {
  list-style: none;
}
.header-top .nav-bar ul li a {
  text-decoration: none;
}
.header-top .nav-bar ul {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: initial;
}
.header-top .nav-bar ul li {
  position: relative;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: initial;
  align-items: flex-end;
}
.header-top .nav-bar ul li a {
  color: #ffffffb0;
  font-size: 14px;
  text-transform: uppercase;
}
.header-top .nav-bar ul li a:hover {
  color: white;
}
.header-top .nav-bar ul li .active {
  color: white;
  font-weight: 700;
}
.header-top .nav-bar ul li .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 3px;
  background-color: white;
}

#jumbotron {
  font-family: "Bai Jamjuree", sans-serif;
  width: 90%;
  max-width: 1600px;
  height: 100%;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#jumbotron p {
  font-size: 17px;
  letter-spacing: 3px;
}
#jumbotron p::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
#jumbotron #title {
  max-width: 520px;
  line-height: 95px;
  margin-top: 20px;
  margin-bottom: 60px;
}
#jumbotron #title h1 {
  font-size: 102px;
}
#jumbotron .buttons {
  display: flex;
}
#jumbotron .buttons .green-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #39FFBF;
  padding: 25px 60px;
  outline: none;
  border: none;
  font-size: 14px;
  margin-right: 40px;
}
#jumbotron .buttons #play-btn {
  align-self: flex-end;
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
#jumbotron .buttons #play-btn i {
  display: inline-block;
  color: #39FFBF;
  padding: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 1650px) {
  header {
    background-size: 66% 100%;
  }
}
.consulting {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 50px 0;
}
.consulting .consulting_title {
  display: flex;
  min-width: calc(544px*2);
  justify-content: flex-start;
  margin: 60px 0;
}
.consulting .consulting_title h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
  position: relative;
  color: #1F1E38;
}
.consulting .consulting_title h3::after {
  content: "";
  display: inline-block;
  width: 55px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: calc(100% + 30px);
  transform: translateY(-50%);
  width: 2000px;
}
.consulting .div_80 {
  display: flex;
  padding-left: 200px;
  justify-content: center;
}
.consulting .div_80 .div_50 {
  display: flex;
  padding: 30px 30px 30px 0;
}
.consulting .div_80 .div_50:first-child {
  margin-right: 200px;
}
.consulting .div_80 .div_50 div {
  height: 100%;
  padding: 10px 20px 20px 0;
  color: #1F1E38;
}
.consulting .div_80 .div_50 div h4 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.consulting .div_80 .div_50 div p {
  font-size: 1rem;
}
.consulting .div_80 .div_50 .description {
  max-width: 400px;
  margin-left: 50px;
}
.consulting .div_80 .div_50 .consulting_img {
  background-color: #F81D39;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
}

.main-darkblue-back {
  background-color: #1F1E38;
}
.main-darkblue-back .about {
  color: white;
  background-image: url("../img/business-people-working-together-on-project-and-5FHSKBL.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 56% auto;
  padding: 60px 0;
}
.main-darkblue-back .about .about_description {
  margin-left: 56%;
  padding: 100px 50px;
  width: 600px;
}
.main-darkblue-back .about .about_description h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.main-darkblue-back .about .about_description h6::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 3px;
  background-color: #39FFBF;
  margin-right: 20px;
}
.main-darkblue-back .about .about_description h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-darkblue-back .about .about_description p {
  color: #AAAAAA;
}
.main-darkblue-back .green_banner {
  position: relative;
  background-color: #39FFBF;
  width: 80%;
  display: flex;
  padding: 70px;
}
.main-darkblue-back .green_banner h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Bai Jamjuree", "Raleway", sans-serif;
  font-size: 16px;
}
