.chat {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 35px;
    right: 35px;
    z-index: 3;
    div {
        width: calc(100% / 2);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            padding: 10px 15px;
            border-radius: 50%;
            margin-right: 15px;
            background-color: white;
            border: 1px solid $primaryDarkBlue;
            outline: none;
            &:hover {
                cursor: pointer;
            }
            i {
                color: black;
            }
        }
        &:nth-child(2) {
            i {
                color: white;
                background-color: #527CEB;
                padding: 20px;
                border-radius: 50%;
                font-size: 1.6rem;
                transform: scaleX(-1);
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    
}