header {
    height: 1000px;
    @include flexItem(initial, center);
    flex-direction: column;
    background-color: $primaryDarkBlue;
    background-image: url("../../images/portrait-of-young-architect-woman-on-meeting-KFZCE3A.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 66% auto;
}

//header-top
.header-top {
    display: flex;
    width: $headerWidth;
    height: 50px;
    max-width: 1600px;
    .logo {
        @include flexItem(initial, flex-end);
        img {
            width: 110px;
            max-height: 100%;
        }
    }
    .nav-bar {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        @include listStyle;
        ul {
            height: 100%;
            width: auto;
            @include flexItem(flex-end, initial);
            li {
                position: relative;
                height: 100%;
                padding: 0 20px;
                @include flexItem(initial, flex-end);
                a {
                    color: #ffffffb0;
                    font-size: 14px;
                    @include uppercase;
                    &:hover {
                        color: white;
                    }
                }
                .active {
                    color: white;
                    font-weight: 700;
                }
                .active::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: calc(100% - 40px);
                    height: 3px;
                    background-color: white;
                }
            }
        }
    }    
}

//jumbotron
#jumbotron {
    font-family: 'Bai Jamjuree', sans-serif;
    width: $headerWidth;
    max-width: 1600px;
    height: 100%;
    color: white;
    @include uppercase;
    @include flexItem(flex-start, center);
    p {
        font-size: 17px;
        letter-spacing: 3px;
        &::before {
            @include greenLine;
        }
    }
    #title {
        max-width: 520px;
        line-height: 95px;
        margin-top: 20px;
        margin-bottom: 60px;
        h1 {
            font-size: 102px;
        }
    }
    .buttons {
        display: flex;
        .green-btn {
            @include uppercase;
            letter-spacing: 2px;
            background-color: $greenBackground;
            padding: 25px 60px;
            outline: none;
            border: none;
            font-size: 14px;
            margin-right: 40px;
        }
        #play-btn {
            align-self: flex-end;
            background: none;
            border: 2px solid white;
            outline: none;
            cursor: pointer;
            border-radius: 50%;
            i {
                display: inline-block;
                color: $greenBackground;
                padding: 20px;
                border-radius: 50%;
            }
        }
    }
}

