.consulting {
    display: flex;
    flex-direction: column;
    align-items: center;
    .div_80 {
        background-color: pink;
        display: flex;
        width: 80%;
        .div_50 {
            display: flex;
            width: 50%;
            padding: 20px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primaryRed;
                border-radius: 50%;
                height: 64px;
                width: 64px;
                margin-right: 30px;
            }
        }
    }
}