// main {
//     padding-bottom: ;
// }
.consulting {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 50px 0;
    .consulting_title {
        display: flex;
        min-width: calc(544px*2);
        justify-content: flex-start;
        h3 {
            font-size: 1.7rem;
            @include uppercase;
            position: relative;
            color: $primaryDarkBlue;
            &::after {
                @include greenLine;
                position: absolute;
                top: 50%;
                left: calc(100% + 30px);
                transform: translateY(-50%);
                width: 2000px;
            }
        }
        margin: 60px 0;
    }
    .div_80 {
        display: flex;
        padding-left: 200px;
        justify-content: center;
        .div_50 {
            display: flex;
            padding: 30px 30px 30px 0;
            &:first-child {
                margin-right: 200px;
            }
            div {
                height: 100%;
                padding: 10px 20px 20px 0;
                color: $primaryDarkBlue;
                h4 {
                    font-size: 1.3rem;
                    @include uppercase;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 1rem;
                }
            }
            .description {
                max-width: 400px;
                margin-left: 50px;
            }
            .consulting_img {
                background-color: $primaryRed;
                width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                padding: 0;
            }
        }
    }
}

.main-darkblue-back {
    background-color: $primaryDarkBlue;

    .about {
        color: white;
        background-image: url("../img/business-people-working-together-on-project-and-5FHSKBL.jpg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 56% auto;
        padding: 60px 0;
        .about_description {
            margin-left: 56%;
            padding: 200px 100px;
            width: 700px;
            h6 {
                @include sectionTitle;
            }
            h2 {
                font-size: 3.7rem;
                @include uppercase;
                margin-bottom: 30px
            }
            p {
                color: #AAAAAA;
            }
        }
    }
    .green_banner {
        position: relative;
        background-color: $greenBackground;
        width: calc(#{$maxWidth} + ((100% - #{$maxWidth}) / 2));
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 200px;
        div {
            max-width: 500px;
            padding: 50px;
            text-align: center;
            color: $primaryDarkBlue;
            h3 {
                font-size: 1.5rem;
                @include uppercase;
                margin-right: 100px;
            }
        }
        button {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $primaryRed;
            @include defaultBtn;
            &:hover {
                background-color: $primaryDarkBlue;
                cursor: pointer;
                transition: .3s;
            }
        }
        
    }

    .projects_container {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 100px;
        @include flexItem(center, unset);
        .projects {
            flex-direction: column;
            width: $generalWidth;
            max-width: #{$maxWidth};
            position: relative;
            .projects_title {
                margin-bottom: 50px;
                max-width: 900px;
                @include uppercase;
                color: white;
                h6 {
                    @include sectionTitle;
                }
                h2 {
                    @include sectionH2;
                }
                .arrows {
                    position: absolute;
                    top: 70px;
                    right: 10px;
                    button {
                        padding: 15px;
                        background-color: #ffffff1a;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        i {
                            color: white;
                            font-size: .8rem;
                        }
                        &:hover {
                            background-color: $greenBackground;
                            transition: .4s;
                        }
                    }
                }
            }
            .projects_presentation {
                width: 100%;
                @include flexItem(center, unset);
                overflow: hidden;
                .projects_img {
                    width: calc(100% / 3);
                    height: 350px;
                    padding: 10px;
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        max-height: 100%;
                    }
                    .overlay {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                        background-color: rgba(220, 30, 58, 0.8);
                        opacity: 0;
                        padding: 20px;
                        flex-basis: 0;
                        transition: all .5s;
                        overflow: hidden;
                        div {
                            p {
                                color: white;
                                font-weight: 700;
                                font-size: 1.3rem;
                            }
                            span {
                                color: $grayText;
                            }
                        }
                        button {
                            padding: 15px 20px;
                            background-color: $primaryDarkBlue;
                            outline: none;
                            border: none;
                            color: white;
                            font-size: 1.4rem;
                            cursor: pointer;
                        }
                    }
                    &:hover .overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
        .testimonial_title {
            width: $generalWidth;
            max-width: $maxWidth;
            color: white;
            display: flex;
            flex-direction: column;
            position: relative;
            h6 {
                align-self: center;
                @include sectionTitle;
                &::before {
                    display: none;
                }
                &::after {
                    @include greenLine;
                    position: absolute;
                    top: 18px;
                    right: 0;
                }
            }
            h2 {
                align-self: flex-end;
                @include sectionH2;
                margin-bottom: 50px;
                max-width: 600px;
                text-align: end;
            }
        }
        .white_banner {
            width: calc(#{$maxWidth} + ((100% - #{$maxWidth}) / 2));
            align-self: flex-end;
            background-color: white;
            display: flex;
            .banner_section {
                width: calc(#{$maxWidth} / 3);
                position: relative;
                padding: 70px 80px 60px;
                transition: background .3;
                background-position: center;
                background-size: cover;
                p {
                    margin-bottom: 30px;
                    color: $grayText;
                }
                h6 {
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }
                span {
                    color: $grayText;
                }
                &:first-child:hover {
                    background-image: url("../img/oliver-ragfelt-488196-2.jpg");
                    h6 {
                        color: white;
                    }
                }
                &:nth-child(2):hover {
                    background-image: url("../img/12679.jpg");
                    h6 {
                        color: white;
                    }
                }
                &:nth-child(3):hover {
                    background-image: url("../img/oliver-ragfelt-488196-unsplash.jpg");
                    h6 {
                        color: white;
                    }
                }
            }
        }
    }

    .blog {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            width: $maxWidth;
        }
        .blog_title {
            position: relative;
            h6 {
                @include sectionTitle;
            }
            h2 {
                @include sectionH2;
                margin-bottom: 50px;
            }
            button {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: $greenBackground;
                @include defaultBtn;
                color: $primaryDarkBlue;
                &:hover {
                    background-color: $primaryRed;
                    cursor: pointer;
                    transition: .3s;
                }
            }
        }
        .blog_squares {
            display: flex;
            figure {
                position: relative;
                width: calc(100% / 2);
                padding: 15px;
                img {
                    width: 100%;
                }
                figcaption {
                    position: absolute;
                    width: calc(100% / 4 * 3);
                    height: 50%;
                    background: white;
                    bottom: 0;
                    right: 15px;
                    transform: translateY(30%);
                    z-index: 1;
                    padding: 0 80px;
                    padding-top: 40px;
                    span {
                        color: red;
                        margin-bottom: 15px;
                    }
                    span {
                        font-size: 1.1rem;
                        color: red;
                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                    h4 {
                            font-size: 2rem;
                            line-height: 35px;
                            margin-top: 20px;
                            letter-spacing: 0px;
                    }       
                    p {
                        color: $grayText;
                        margin-top: 30px;
                        font-size: 1.1rem;
                    }
                }
                &:hover figcaption {
                    background-color: $greenBackground;
                    transform: translateY(35%);
                    transition: .4s ease-out;
                }
            }
        }
        
    }

    .get_started {
        margin-top: 300px;
        width: 100%;
        padding: 140px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../img/business-people-working-together-on-project-and-B3MZ4TX.jpg");
        background-position: center;
        background-size: cover;
        h2 {
            @include sectionH2;
            margin-bottom: 20px;
        }
        p {
            color: #ffffffcc;
            font-size: 1.2rem;
            max-width: 450px;
            text-align: center;
            margin-bottom: 30px;
        }
        button {
            padding: 20px 50px;
            outline: none;
            border: none;
            font-size: .7rem;
            letter-spacing: 2px;
            @include uppercase; 
            background-color: $primaryDarkBlue;
            color: white;
            &:hover {
                background-color: $greenBackground;
                transition: .3s;
                cursor: pointer;
            }
        }
    }
    
}