@mixin listStyle {
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}


@mixin uppercase {
    text-transform: uppercase;
}

@mixin flexItem($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}