@mixin listStyle {
    ul {
        list-style: none;
        li {
            a {
                text-decoration: none;
            }
        }
    }
}


@mixin uppercase {
    text-transform: uppercase;
}

@mixin flexItem($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin greenLine {
    content: "";
            display: inline-block;
            width: 55px;
            height: 3px;
            background-color: $greenBackground;
            margin-right: 20px;
}